.fieldcuerpo legend{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border:1px solid #ccc;
  width: 300px;
  padding: 3px 6px 3px 6px;
  background-color: #444444;
  color: #fff; 
  white-space: normal;
}
.fieldcuerpo{
  width: auto;
  padding: 10px;
  border:1px solid #999;
  margin-top: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #000;
  font-style: inherit;
  font-size: inherit;
  white-space: normal;
  font-weight: inherit;
}
.fieldcuerpo.solacep legend{
   background: rgba(12,133,50,1);
background: -moz-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,133,50,1)), color-stop(100%, rgba(20,153,66,0.71)));
background: -webkit-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: -o-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: -ms-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: linear-gradient(to right, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c8532', endColorstr='#149942', GradientType=1 );
}
.fieldcuerpo.solrec legend{
 background: rgba(173,22,75,1);
background: -moz-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(173,22,75,1)), color-stop(100%, rgba(199,10,64,0.71)));
background: -webkit-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: -o-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: -ms-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: linear-gradient(to right, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad164b', endColorstr='#c70a40', GradientType=1 );
}
.fieldcuerposol legend{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border:1px solid #ccc;
  width: 300px;
  padding: 3px 6px 3px 6px;
 background: rgba(30,49,143,1);
background: -moz-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(30,49,143,1)), color-stop(100%, rgba(35,67,194,0.71)));
background: -webkit-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: -o-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: -ms-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: linear-gradient(to right, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e318f', endColorstr='#2343c2', GradientType=1 );
  color: #fff; 
  white-space: normal;
}
.fieldcuerpores legend{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border:1px solid #ccc;
  width: 300px;
  padding: 3px 6px 3px 6px;
 background: rgba(230,119,0,1);
background: -moz-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,119,0,1)), color-stop(100%, rgba(240,128,53,0.81)));
background: -webkit-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -o-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -ms-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: linear-gradient(to right, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67700', endColorstr='#f08035', GradientType=1 );
  color: #fff; 
  white-space: normal;
}
.fieldcuerpores legend{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border:1px solid #ccc;
  width: 300px;
  padding: 3px 6px 3px 6px;
 background: rgba(230,119,0,1);
background: -moz-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,119,0,1)), color-stop(100%, rgba(240,128,53,0.81)));
background: -webkit-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -o-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -ms-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: linear-gradient(to right, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67700', endColorstr='#f08035', GradientType=1 );
  color: #fff; 
  white-space: normal;
}
.fieldcuerposol{
   width: auto;
  padding: 10px;
  border:1px solid #999;
  margin-top: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #000;
  font-style: inherit;
  font-size: inherit;
  white-space: normal;
  font-weight: inherit;
}
.titulo{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border:1px solid #ccc;
  width: 100px;
  padding: 3px 6px 3px 6px;
  background-color: #444444;
  color: #fff; 
  margin: 15px;
  font-size: 15px;
  white-space: normal;
}
.subtitulo{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border:1px solid #ccc;
  width: auto;
  padding: 3px 6px 3px 6px;
  margin: 15px;
  font-size: 15px;
  white-space: normal;
}
.botones {
  background-color: #C4C0C0; 
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border: 0px;
  color: #302E2E;
  cursor: pointer;
  font-size: 11px;
  font-weight: bolder;
  padding: 5px 10px 5px 22px;

}
.botones:hover{
  
  color:#FFFFFF; 
  background-color:#010; 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45bfe8', endColorstr='#45bfe8',GradientType=0); 
  -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  -ms-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.botones:focus{
  border:solid 1px #0C315B;  
  color:#E5FFFF; 
  background-color:#0C315B; 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45bfe8', endColorstr='#45bfe8',GradientType=0); 
  -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  -ms-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.ico-btnsave{
  background-image: url(../img/iconos/save.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
.ico-btnlimpiar{
  background-image: url(../img/iconos/cup.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
.ico-btnsearch{
  background-image: url(../img/iconos/search.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}
.txtcampo{
  width: 200px;
  height: 25px;
  border: 1px solid #928E8E;
  font-size: 10px;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  padding:3px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  text-transform: uppercase;
}
.txtcampo.textarea{
  width: auto;
  height: auto;
}
.txtcampo.large2{
  width: 90%;
  
}

.txtcampo:hover{
  color: #2E3133;
  border-color: #08395F;
}
.txtcampo:focus{
  color: #2E3133;
  border: 1px solid #EB990A;
}
.lblnombre{
  font-size: 13px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100px;
}
#portada{
background-image: url(../img/portada2.jpg);
height:450px;
background-repeat: repeat;
}
.tituloclie{
  float: left;
  padding: 20px 15px 10px 20px;
  font-size: 24px;
  color: #fff;
  font-family: inherit;
}
@media screen and (max-width: 883px) {
.tituloclie{
    font-size: 18px;
  }
  }
  @media screen and (max-width: 713px) {
.tituloclie{
    font-size: 15px;
  }
  }
.botonesclieupl{
 float: left;
 padding: 10%;
 background: rgba(30,49,143,1);
background: -moz-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(30,49,143,1)), color-stop(100%, rgba(35,67,194,0.71)));
background: -webkit-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: -o-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: -ms-linear-gradient(left, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
background: linear-gradient(to right, rgba(30,49,143,1) 0%, rgba(35,67,194,0.71) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e318f', endColorstr='#2343c2', GradientType=1 );
 width: 49%; 
 height: 46%;
 margin-bottom: 3%; 
 margin-right: 2%;
 font-size: 118%;
 border-radius: 100px;
}
.botonesclieupr{
 float: left;
padding:10%; 
background: rgba(230,119,0,1);
background: -moz-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,119,0,1)), color-stop(100%, rgba(240,128,53,0.81)));
background: -webkit-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -o-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: -ms-linear-gradient(left, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
background: linear-gradient(to right, rgba(230,119,0,1) 0%, rgba(240,128,53,0.81) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67700', endColorstr='#f08035', GradientType=1 );

 width: 49%; 
 height: 46%;
 margin-bottom: 3%; 
  font-size: 118%;
 border-radius: 100px;
}
.botonesclieupl:hover {
  background-color: #089;
}

.botonesclieupr:hover{
 background-color: #089;
}
.botonescliedownl{
 float: left;
 padding:10%; 
 background: rgba(12,133,50,1);
background: -moz-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,133,50,1)), color-stop(100%, rgba(20,153,66,0.71)));
background: -webkit-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: -o-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: -ms-linear-gradient(left, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
background: linear-gradient(to right, rgba(12,133,50,1) 0%, rgba(20,153,66,0.71) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c8532', endColorstr='#149942', GradientType=1 );

 width: 49%; 
 height: 46%;
 margin-right: 2%;
  font-size: 118%;
 border-radius: 100px;
}
.botonescliedownr{
 float: left;
 padding:10%; 
 background: rgba(173,22,75,1);
background: -moz-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(173,22,75,1)), color-stop(100%, rgba(199,10,64,0.71)));
background: -webkit-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: -o-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: -ms-linear-gradient(left, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
background: linear-gradient(to right, rgba(173,22,75,1) 0%, rgba(199,10,64,0.71) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad164b', endColorstr='#c70a40', GradientType=1 );
 width: 49%; 
 height: 46%;
  font-size: 118%;
 border-radius: 100px;
}
.botonescliedownl:hover {
  background-color: #089;
}

.botonescliedownr:hover{
 background-color: #089;
}
.link_boton{
  color: #fff;
}
.link_boton:hover{
 font-size: 101%;
}
.mensajevalidacion{
  
  -webkit-color: red;
  -ms-color: red;
  -moz-color: red;
  color: red;
  font-size: 9px;
}